<a href="https://colab.research.google.com/github/SinghPrach/BrushUp_Python/blob/main/15Oct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import keyword

In [2]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Taking input from User

In [3]:
x,y = input("Enter any two values: ").split()

Enter any two values: 12 23

In [5]:
print("Value of x is: ",x)

Value of x is:  12

In [6]:
print("Value of y is: ",y)

Value of y is:  23

In [7]:
print("First number is {} and second number is {}".format(x, y))

First number is 12 and second number is 23

In [8]:
# type casting using list() function

In [9]:
z = list(map(int, input("Enter multiple values: ").split()))

Enter multiple values: 2 3 45 100 34

In [10]:
print("List of multiple values: ", z)

List of multiple values:  [2, 3, 45, 100, 34]

In [26]:
# z.dtype()
# List can contain multiple data types. That is why, dtype() function is throwing an error here.
# z.type()

In [ ]:
# Using List comprehension method

In [14]:
# taking two input at a time
a, b = [int(x) for x in input("Enter two values: ").split()]
print("First Number is: ", a)
print("Second Number is: ", b)

Enter two values: 2 3
First Number is:  2
Second Number is:  3

In [15]:
# taking multiple inputs at a time separated by comma
c = [int(x) for x in input("Enter multiple value: ").split(",")]

Enter multiple value: 23,99

In [16]:
print("Number of list is: ", c)

Number of list is:  [23, 99]

In [18]:
# Understanding end parameter in print
print("Prachi")
print("Singh")
print("Prachi", end='-')
print("Singh")
print("Prachi", end=' ')
print("Singh")
print("Prachi", end='')
print("Singh")

Prachi
Singh
Prachi-Singh
Prachi Singh
PrachiSingh

In [20]:
# Understanding the sep parameter in print
print('G','F','G', sep='')

#for formatting a date
print('09','12','2016', sep='-')

#another example
print('Prachi Singh','Starbucks', sep='@')

GFG
09-12-2016
Prachi Singh@Starbucks

In [21]:
# Output Formatting
# Using string modulo operator(%)

print("IntegerCheck1 : %2d, FloatCheck1 : %5.2f" % (1, 05.333))

print("IntegerCheck2 : %3d, IntegerCheck3 : %2d" % (240, 120))

print("OctalCheck1 : %7.3o" % (25))   # print octal value

print("ExponentialCheck1 : %10.3E" % (356.08977))   # print exponential value

IntegerCheck1 :  1, FloatCheck1 :  5.33
IntegerCheck2 : 240, IntegerCheck3 : 120
OctalCheck1 :     031
ExponentialCheck1 :  3.561E+02

In [22]:
# Using the format method
print('I love {} for "{}!"'.format('BTS', 'life'))

print('{0} and {1}'.format('Kim', 'Tae'))

print('{1} and {0}'.format('Kim', 'Tae'))

I love BTS for "life!"
Kim and Tae
Tae and Kim

In [23]:
print(all([]))

True