<a href="https://colab.research.google.com/github/SinghPrach/BrushUp_Python/blob/main/15Oct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Strings

In [ ]:
# String Manipulations
string1 = 'Hello World!'
string2 = "My name is Prachi Singh"
string3 = ''' Nice to meet you.'''

In [ ]:
print(string1[0])
print(string2[0])
print(string3[0])
print(string1[-1])

H
M

!

In [ ]:
# String slicing
print(string1[3:8])
print(string2[4:-3])

lo Wo
ame is Prachi Si

In [ ]:
# Reversing a string
print(string1[::-1])
print("".join(reversed(string3)))

!dlroW olleH
.uoy teem ot eciN

In [ ]:
# string1[2]="k"
# Updating or deleting any element in a string is not possible because string is immutable. But it can be done using list method and string slicing method.
string4 = "Check"
list1 = list(string4)
list1[2] = 'i'
string4 = ''.join(list1)
print(string4)
string5 = string4[0:2] + 'e' + string4[3:]
print(string5)

Chick
Check

In [ ]:
# del string5
# print(string5)

In [ ]:
string6 = "I'm fine."
string7 = '''That was "good"'''
string8 = "I agree 100 percent"
print(string6)
print(string7)

I'm fine.
That was "good"

In [ ]:
import string
string7.endswith("d")

False

In [ ]:
# Check if the string has digits
def check_string(string_value):
  for character in string_value:
    if character not in string.digits:
      return False
  return True
check1 = "Abcd123"
check2 = "23456"
print("First Check: ",check_string(check1))
print("Second Check: ",check_string(check2))

First Check:  False
Second Check:  True

In [ ]:
print(check1.isdigit()) #Check if all characters are digits
print(check2.isalpha()) #Check if all characters are alphabets
print(check1.swapcase()) #Converts lowercase to uppercase and vice-versa
print(len(check2)) #Returns length of a string

False
False
aBCD123
5

In [ ]:
#String slicing
print(string1[slice(3)])
print(string1[slice(1,3,2)])
print(string1[slice(-1,-6,-2)])
print(string1[slice(1,3)])

Hel
e
!lo
el

In [ ]:
#Using list/array slicing
print(string8[:])
print(string8[3:7])
print(string8[3:])
print(string8[:7])
print(string8[1:7:2])

I agree 100 percent
gree
gree 100 percent
I agree
 ge

In [ ]:
string9 = "I\nLove\tIndia"
string10 = r"I\nLove\tIndia"
string11 = R"I\nLove\tIndia"
print(string9)
print(repr(string9))
print(string10)
print(string11)

I
Love	India
'I\nLove\tIndia'
I\nLove\tIndia
I\nLove\tIndia

In [ ]:
#Python Regex
import re

In [ ]:
string12 = "I Am among very good top 10 students"
match = re.search(r'Am ', string12)

print('Start Index:', match.start())
print('End Index:', match.end())

Start Index: 2
End Index: 5

In [ ]:
pattern = "[a-m]"
regex_startswith1 = r'^I'
regex_startswith2 = r'^The'
print(re.findall(pattern, string12))
print(re.match(regex_startswith1,string12))
print(re.match(regex_startswith2,string12))

['m', 'a', 'm', 'g', 'e', 'g', 'd', 'd', 'e']
<re.Match object; span=(0, 1), match='I'>
None

Lists

In [ ]:
list1 = [1,2,3,4]
list2 = []
list3 = ["Hey","Hi"]
list4 = ["Hey",1]
print(list1)
print(list2)
print(list3)
print(list4)
print(list1[0])

[1, 2, 3, 4]
[]
['Hey', 'Hi']
['Hey', 1]
1

In [ ]:
# Multi-dimensional list- Nesting lists inside lists
list5 = [['Hey', 'Hi'], ['Prachi']]
print(list5)
print(list5[0][1])
print(list5[1][0])
print(list5[0][0])
print(list5[-1][-1])
print(len(list5))

[['Hey', 'Hi'], ['Prachi']]
Hi
Prachi
Hey
Prachi
2

In [ ]:
input_string = input("Enter elements (Space-Separated): ")

Enter elements (Space-Separated): 2 The Sky 27

In [ ]:
input_list = input_string.split()
print("The input list is: ",input_list)

The input list is:  ['2', 'The', 'Sky', '27']

In [ ]:
num = int(input("Enter the size of list : "))

Enter the size of list : 4

In [ ]:
list6 = list(map(int, input("Enter the integer\
elements:").strip().split()))[:num]

Enter the integerelements:2 34 56

In [ ]:
print('The list is:', list6)

The list is: [2, 34, 56]

In [ ]:
# Adding elements to a list
list_add = []
print("Initial blank List: ")
print(list_add)
list_add.append(1)
list_add.append(2)
list_add.append("Hey")
print("\nAfter Adding Three elements to the list: ")
print(list_add)

Initial blank List:
[]

After Adding Three elements to the list:
[1, 2, 'Hey']

In [ ]:
#Appending using iterator
for i in range(1, 4):
    list_add.append(i)
print("\nList after Addition of elements from 1-3: ")
print(list_add)

List after Addition of elements from 1-3:
[1, 2, 'Hey', 1, 2, 3]

In [ ]:
# Adding Tuples to the List
list_add.append((5, 6))
print("\nList after Addition of a Tuple: ")
print(list_add)

List after Addition of a Tuple:
[1, 2, 'Hey', 1, 2, 3, (5, 6)]

In [ ]:
# Adding List to a List
List2 = ['Hey', 'Bro']
list_add.append(List2)
print("List after Addition of a List: ")
print(list_add)

List after Addition of a List:
[1, 2, 'Hey', 1, 2, 3, (5, 6), ['Hey', 'Bro']]

In [ ]:
# Insert operation
list_add.insert(3, 12)
list_add.insert(0, 'Yayy')
print("\nList after performing Insert Operation: ")
print(list_add)

List after performing Insert Operation:
['Yayy', 1, 2, 'Hey', 12, 1, 2, 3, (5, 6), ['Hey', 'Bro']]

In [ ]:
# Extend operation
list_add.extend([8, 'Brb', 'Always'])
print("List after performing Extend Operation: ")
print(list_add)

List after performing Extend Operation:
['Yayy', 1, 2, 'Hey', 12, 1, 2, 3, (5, 6), ['Hey', 'Bro'], 8, 'Brb', 'Always']

In [ ]:
list_add.reverse()
print(list_add)

['Always', 'Brb', 8, ['Hey', 'Bro'], (5, 6), 3, 2, 1, 12, 'Hey', 2, 1, 'Yayy']

In [ ]:
list_reverse = list(reversed(list_add))
print(list_reverse)

['Yayy', 1, 2, 'Hey', 12, 1, 2, 3, (5, 6), ['Hey', 'Bro'], 8, 'Brb', 'Always']

In [ ]:
list_reverse.remove(8)
list_reverse.remove('Brb')
print("List after Removal of elements: ")
print(list_reverse)

List after Removal of elements:
['Yayy', 1, 2, 'Hey', 12, 1, 2, 3, (5, 6), ['Hey', 'Bro'], 'Always']

In [ ]:
list_reverse.pop(3)
print("List after popping a specific element: ")
print(list_reverse)

List after popping a specific element:
['Yayy', 1, 2, 12, 1, 2, 3, (5, 6), ['Hey', 'Bro'], 'Always']

In [ ]:
list_reverse.pop(-3)
print("List after popping a specific element: ")
print(list_reverse)

List after popping a specific element:
['Yayy', 1, 2, 12, 1, 2, 3, ['Hey', 'Bro'], 'Always']

In [ ]:
odd_cubes = [x ** 3 for x in range(1, 11) if x % 2 == 1]
print(odd_cubes)

[1, 27, 125, 343, 729]

In [ ]:
odd_copy = odd_cubes.copy()
print(odd_copy)

[1, 27, 125, 343, 729]

In [10]:
import numpy as np
# Accessing index and value in a list
# Naive Approach
test_list = [21,88,90,100]
print("Original list \n")
print(test_list)
print(str(test_list))
print("The index-value pair is: ")
for i in range(len(test_list)):
  print(i,end=" ")
  print(test_list[i])
print("The index-value pair, as per list comprehension is:")
print([list((i, test_list[i])) for i in range(len(test_list))])
# Using enumerate function
print("Using enumerate function")
for index, value in enumerate(test_list):
    print(index, value)
# Using zip
print("Using Zip")
for index, value in zip(range(len(test_list)), test_list):
    print(index, value)
# Using Numpy
print("Using Numpy")
for index, value in np.ndenumerate(test_list):
    print(index[0], value)

Original list

[21, 88, 90, 100]
[21, 88, 90, 100]
The index-value pair is:
0 21
1 88
2 90
3 100
The index-value pair, as per list comprehension is:
[[0, 21], [1, 88], [2, 90], [3, 100]]
Using enumerate function
0 21
1 88
2 90
3 100
Using Zip
0 21
1 88
2 90
3 100
Using Numpy
0 21
1 88
2 90
3 100

In [11]:
# Length of a list
print(len(test_list))

4

In [12]:
# Taking list as input from user
# Using For loop
list_1 = []
num = int(input("Enter the length of list: "))
for i in range(0,num):
  add_el = int(input())
  list_1.append(add_el)
print(list_1)

Enter the length of list: 3
23
3
9
[23, 3, 9]

In [15]:
# Using exception handling
try:
    my_list = []

    while True:
        my_list.append(int(input()))

# if the input is not-integer, print the list
except:
    print(my_list)

[]

In [18]:
# Using Map function
num = int(input("Enter number of elements : "))
a = list(map(int, input("\nEnter the numbers : ").strip().split()))[:num]

print("\nList is: ", a)

Enter number of elements : 3

Enter the numbers : 23 4 66

List is -  [23, 4, 66]

In [19]:
# Get list of lists as input
list_lists = []
num = int(input("Enter number of elements : "))

for i in range(0, num):
    new_ele = [input(), int(input())]
    list_lists.append(new_ele)

print(list_lists)

Enter number of elements : 4
23
32
22
33
45
78
9
10
[['23', 32], ['22', 33], ['45', 78], ['9', 10]]