Tuples

In [20]:
# Creating a tuple
tuple1 = ()
tuple2 = (2,5,4)
tuple3 = ("hey","Baby")
tuple4 = (1,"Hey")
list1 = [1,2,1,"Hi",1,99,1]
tuple5 = tuple(list1)
# tuple function takes at most 1 argument
tuple6 = tuple("Go")
tuple7 = (tuple5,tuple6,tuple4) #Nested tuple
tuple8 = tuple(tuple7)
print(tuple1)
print(tuple2)
print(tuple3)
print(tuple4)
print(tuple5)
print(tuple6)
print(tuple8)

()
(2, 5, 4)
('hey', 'Baby')
(1, 'Hey')
(1, 2, 1, 'Hi', 1, 99, 1)
('G', 'o')
((1, 2, 1, 'Hi', 1, 99, 1), ('G', 'o'), (1, 'Hey'))

In [6]:
# Accessing Tuple
print(tuple2[1]) #Indexing
a,b = tuple4 #Unpacking
print(a)
print(b)
for i in range(0,len(tuple5)): #Looping
  print(tuple5[i],end=" ")

3
1
Hey
1 2 99 Hi

In [7]:
# Concatenation
tuple9 = tuple2+tuple4+tuple8
print(tuple9)

(2, 3, 4, 1, 'Hey', (1, 2, 99, 'Hi'), ('G', 'o'), (1, 'Hey'))

In [8]:
# Slicing
# After removing first element
print(tuple5[1:])
# After reversing the tuple
print(tuple8[::-1])
# Printing elements between range 3 and 7
print(tuple9[3:7])

(2, 99, 'Hi')
((1, 'Hey'), ('G', 'o'), (1, 2, 99, 'Hi'))
(1, 'Hey', (1, 2, 99, 'Hi'), ('G', 'o'))

In [9]:
# Deleting
del tuple1
print(tuple1)

NameError: ignored

In [15]:
tuple3.index("Baby") #index function gives index
tuple5.count(1) #count function gives the total count of the particular value in the tuple

4

In [21]:
# Built-in functions
print("all(): ",all(tuple1))
print("all(): ",all(tuple2))
print("any(): ",all(tuple1))
print("any(): ",all(tuple2))
print("len(): ",len(tuple5))
print("enumerate(): ",enumerate(tuple5))
# print("max(): ",max(tuple5)) max() is not supported between instances of 'str' and 'int'
print("max(): ",max(tuple2))
print("min(): ",min(tuple2))
print("sum(): ",sum(tuple2))
print("sorted(): ",sorted(tuple2))

all():  True
all():  True
any():  True
any():  True
len():  7
enumerate():  <enumerate object at 0x7b997c02cf00>
max():  5
min():  2
sum():  11
sorted():  [2, 4, 5]

In [27]:
# Create a tuple from list and string
test_list = ["I", "love","my"]
test_str = "life"
# Method 1
tuple_li_st1 = tuple(test_list + [test_str])
print(tuple_li_st1)
# Method 2
tuple_li_st2 = (test_str, ) + tuple(test_list)
print(tuple_li_st2)
# Method 3
new_list = test_list.copy()
new_list.append(test_str)
tuple_li_st3 = tuple(new_list)
print(tuple_li_st3)
# Method 4
tuple_li_st4 = tuple(test_list + [test_str])
print(tuple_li_st4)
# Method 5
test_list.extend([test_str])
tuple_li_st5 = tuple(test_list)
print(tuple_li_st5)

('I', 'love', 'my', 'life')
('life', 'I', 'love', 'my')
('I', 'love', 'my', 'life')
('I', 'love', 'my', 'life')
('I', 'love', 'my', 'life')

In [28]:
from operator import itemgetter

In [29]:
# Accessing front and rear element
test_tup = (1,89,32,66,72)
# Method 1
res_front_rear1 = (test_tup[0], test_tup[-1])
print(res_front_rear1)
# Method 2
res_front_rear2 = itemgetter(0, -1)(test_tup)
print(res_front_rear2)
# Method 3
res_front_rear3 = (test_tup[0], test_tup[len(test_tup)-1])
print(res_front_rear3)
# Method 4
front, *_, rear = test_tup
res_front_rear4 = (front,rear)
print(res_front_rear4)
# Method 5 Slicing
front1 = test_tup[0]
rear1 = test_tup[-1]
res_front_rear5 = (front1,rear1)
print(res_front_rear5)
# Method 6
front2 = test_tup[0]
rear2 = test_tup[-1]
res_front_rear6 = tuple([front2]) + tuple([rear2])
print(res_front_rear6)
# Method 7
res_front_rear7 = tuple([test_tup[i] for i in [0,-1]])
print(res_front_rear7)

(1, 72)
(1, 72)
(1, 72)
(1, 72)
(1, 72)
(1, 72)
(1, 72)

In [31]:
import itertools
from functools import reduce

In [34]:
# Concatenating tuples
test_tup1 = (1, 31, 5)
test_tup2 = (4, 6)
# Method 1: Using +
conc_tup1 = test_tup1 + test_tup2
print("Method1: ",conc_tup1)
# Time O(N), Space O(N)
# Method 2: Using sum()
conc_tup2 = sum((test_tup1, test_tup2), ())
print("Method2: ",conc_tup2)
# Method 3: Using list and extend
x = list(test_tup1)
y = list(test_tup2)
x.extend(y)
conc_tup3 = tuple(x)
print("Method3: ",conc_tup3)
# Method 4: Using itertools.chain()
conc_tup4 = tuple(itertools.chain(test_tup1, test_tup2))
print("Method4: ",conc_tup4)
# Method 5: Using tuple() constructor and the + operator
conc_tup5 = tuple(test_tup1 + test_tup2)
print("Method5: ",conc_tup5)
# Method 6: Using lambda function with reduce()
concat_tuples = lambda test_tup1, test_tup2: reduce(lambda x, y: x + y, [test_tup1, test_tup2])
conc_tup6 = concat_tuples(test_tup1, test_tup2)
print("Method6: ",conc_tup6)
# Method 7: Using the += operator and the += method:
test_tup1 += test_tup2
print("Method7: ",test_tup1)

Method1:  (1, 31, 5, 4, 6)
Method2:  (1, 31, 5, 4, 6)
Method3:  (1, 31, 5, 4, 6)
Method4:  (1, 31, 5, 4, 6)
Method5:  (1, 31, 5, 4, 6)
Method6:  (1, 31, 5, 4, 6)
Method7:  (1, 31, 5, 4, 6)

In [36]:
# Clearing tuple
test_tup3 = (1, 31, 5,8,9)
# Method 1: Using list() + clear() + tuple()
temp = list(test_tup3)
temp.clear()
test_tup3 = tuple(temp)
print(test_tup3)

()

In [37]:
# Clearing tuple
test_tup3 = (1, 31, 5,8,9)
# Method 2: Reinitialization using tuple()
test_tup3 = tuple()
print(test_tup3)

()

In [38]:
# Clearing tuple
test_tup3 = (1, 31, 5,8,9)
# Method 3: Using * operator
test_tup3 = test_tup3 * 0
print(test_tup3)

()

In [39]:
# Clearing tuple
test_tup3 = (1, 31, 5,8,9)
# Method 4: Using slicing and concatenation
test_tup3 = test_tup3[0:0] + ()
print(test_tup3)

()