<a href="https://colab.research.google.com/github/SinghPrach/BrushUp_Python/blob/main/17Oct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sets in python

In [3]:
# Creating sets
set_1 = {23,"Go","In"}
print(type(set_1))
print(set_1)
set_2 = {23,"23","In","In"}
print(set_2)

<class 'set'>
{'Go', 'In', 23}
{'23', 'In', 23}

In [4]:
# Converting list to set
list_1 = [9,24,"Hi",90,9,"Hi","PS"]
set_3 = set(list_1)
print(set_3)

{'Hi', 'PS', 9, 24, 90}

In [5]:
set_4 = {2098,9872,673,0,23,4,1,3}
print(set_4)

{0, 673, 1, 3, 4, 9872, 2098, 23}

In [9]:
frozen_set1 = frozenset(set_4)
print(frozen_set1)
frozen_set2 = frozenset(list_1)
print(frozen_set2)

frozenset({0, 673, 1, 3, 4, 9872, 2098, 23})
frozenset({'Hi', 'PS', 9, 24, 90})

In [11]:
# Methods on Sets
# Adding elements to python sets
set_3.add(23)
print(set_3)
set_4.add("Hey")
print(set_4)

{'Hi', 'PS', 9, 23, 24, 90}
{0, 673, 1, 3, 4, 'Hey', 9872, 2098, 23}

In [12]:
# Union Operation on sets
set_union1 = set_1.union(set_2)
print(set_union1)
set_union2 = set_1.union(set_2).union(set_3)
print(set_union2)
set_union3 = set_1 | set_2
print(set_union3)
set_union4 = set_1| set_2 | set_3
print(set_union4)

{'23', 23, 'Go', 'In'}
{'Hi', 'PS', 9, 'In', '23', 23, 'Go', 24, 90}
{'23', 23, 'Go', 'In'}
{'Hi', 'PS', 9, 'In', '23', 23, 'Go', 24, 90}

In [15]:
# Intersection Operation on sets
set_intersect1 = set_3.intersection(set_union2)
print(set_intersect1)
set_intersect2 = set_3 & set_union2
print(set_intersect2)
set_intersect3 = set_3.intersection(set_union2).intersection(set_intersect1)
print(set_intersect3)
set_intersect4 = set_3 & set_union2 & set_intersect1
print(set_intersect4)

{'Hi', 'PS', 9, 23, 24, 90}
{'Hi', 'PS', 9, 23, 24, 90}
{'Hi', 'PS', 9, 23, 24, 90}
{'Hi', 'PS', 9, 23, 24, 90}

In [18]:
# Difference of sets
set_diff1 = set_union2.difference(set_intersect1)
print(set_diff1)
set_diff2 = set_union2-set_intersect1
print(set_diff2)
set_diff3 = set_union2.difference(set_intersect1).difference(set_union3)
print(set_diff3)
set_diff4 = set_union2-set_intersect1-set_4
print(set_diff4)

{'Go', '23', 'In'}
{'Go', '23', 'In'}
set()
{'Go', '23', 'In'}

In [19]:
# Clearing of sets
set_diff4.clear()
print(set_diff4)

set()

In [25]:
print(23 in set_union2)
print(23 not in set_union2)
print(set_union4 != set_union2)
print(set_union4 == set_union2)
print(set_union4 <= set_union2)
print(set_union4 >= set_union2)
print(set_union4 < set_union2)
print(set_union4 > set_union2)
print(set_union3 ^ set_union2)
print(set_union2 ^ set_union3)

True
False
False
True
True
True
False
False
{'Hi', 'PS', 9, 24, 90}
{'Hi', 'PS', 9, 24, 90}

In [26]:
from functools import reduce

In [27]:
# Appending multiple elements to a set
update_list_elements = ["Let's","add","new","element",27]
# Using Update method
set_diff2.update(update_list_elements)
print(set_diff2)
# Using pipe | operator
set_diff4 |= set(update_list_elements)
print(set_diff4)
# Using list comprehension
set_to_list = list(set_diff1)
set_to_list += [ele for ele in update_list_elements if ele not in set_to_list]
list_to_set = set(set_to_list)
print(list_to_set)
# Using reduce()
result_set = reduce(lambda res, ele: res.union(set([ele])), update_list_elements, set_intersect1)
print(result_set)

{'new', 'element', 'In', '23', "Let's", 'add', 'Go', 27}
{"Let's", 'add', 27, 'element', 'new'}
{'new', 'element', 'In', '23', "Let's", 'add', 'Go', 27}
{'Hi', 'PS', 9, 'new', 'element', "Let's", 'add', 23, 24, 90, 27}

In [32]:
# Update() method
# Python set list update
set_5 = {23,"you","with",1}
list_1 = [90,"p",2]
set_6 = set(list_1)
set_6.update(set_5)
set_5.update(list_1)
print(set_6)
print(set_5)
# Adding dictionary to a set
num_set = {1, 2, 3, 4, 5}
num_Dict = {6: 'Six', 7: 'Seven', 8: 'Eight',
            9: 'Nine', 10: 'Ten'}
num_set.update(num_Dict)
print(num_set)

{'you', 1, 2, 'p', 'with', 23, 90}
{1, 2, 'p', 'you', 'with', 23, 90}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [35]:
# Removing items from set
# Using pop()
set_5.pop()
print(set_5)
# Using discard()
set_6 = set([12, 10, 13, 15, 8, 9])
set_6.discard(max(set_6))
print(set_6)
# Using remove()
set_7 = set([12, 10, 13, 15, 8, 9])
set_7.remove(next(iter(set_7)))
print(set_7)

{'you', 'with', 23, 90}
{8, 9, 10, 12, 13}
{9, 10, 12, 13, 15}

In [38]:
# Check if a set contains an element
import random
from collections import Counter
import operator as op
# Using in operator
print(9 in set_7)
# Using not in operator
print(9 not in set_7)
# Using counter()
freq = Counter(set_7)
print(7058 in freq.keys())
print(9 in freq.keys())
# Using operator.countOf()
print(op.countOf(set_7, 9) > 0)
print(op.countOf(set_7, 7058) > 0)

True
False
False
True
True
False