Dictionary

In [2]:
# Creating a dictionary
# Method 1
dict1 = {}
dict2 = {1:'My',2:'Name',3:'is',4:'Prachi',5:'Singh'}
dict3 = {1:'I',2:'am',3:{'A':'From','B':'Patna'}}
print(dict1)
print(dict2)
print(dict3)

{}
{1: 'My', 2: 'Name', 3: 'is', 4: 'Prachi', 5: 'Singh'}
{1: 'I', 2: 'am', 3: {'A': 'From', 'B': 'Patna'}}
{1: 'Hey', 2: 'People'}
{1: 'I', 2: 'love', 3: 'India'}

In [5]:
# Set Vs Dictionary
dict1 = {}
print(type(dict1))
x = set()
print(x)
print(type(x))

<class 'dict'>
set()
<class 'set'>

In [7]:
# Method 2
# Using dict() on lists
list1 = [(1,'Hey'),(2,'People')]
dict4 = dict(list1)
dict5 = dict({1: 'I', 2: 'love', 3: 'India'})
print(dict4)
print(dict5)

{1: 'Hey', 2: 'People'}
{1: 'I', 2: 'love', 3: 'India'}

In [10]:
# Method 3
# Appending values to an empty dictionary
dict6 = {}
dict7 = {}
list2 = [['a', 1], ['b', 2], ['a', 3], ['c', 4]]
list3 = [(1,'Hey'),(2,'People'),(3,'What'),(1,'You')]
def list_to_dict(d,l):
  for i in range(len(l)):
    if l[i][0] in d:
        d[l[i][0]].append(l[i][1])
    else:
      d[l[i][0]]= []
      d[l[i][0]].append(l[i][1])
  return d
print(list_to_dict(dict6,list2))
print(list_to_dict(dict7,list3))

{'a': [1, 3], 'b': [2], 'c': [4]}
{1: ['Hey', 'You'], 2: ['People'], 3: ['What']}

In [11]:
# Adding another element to the dictionary, when already provided with key and value separately
# Key to be added
key_ref = 'More Nested key-value'
# Existing dictionary
dict8 = {
    'Nested Things': [{'name', 'one'}, {'name', 'two'}]
}
# list of values to be added
list4 = [{'name', 'three'}, {'name', 'four'}]
# try-except to take care of errors while adding values
try:
    dict8[key_ref].append(list4)
except KeyError:
    my_dict = {**dict8, **{key_ref: list4}}
print(dict8)

{'Nested Things': [{'one', 'name'}, {'two', 'name'}]}

In [17]:
# Adding elements to a dictionary
dict9 = {}
print(dict9)
dict9[1] = 'Hey'
dict9['a'] = 26
print(dict9)
dict9['Value_set'] = 2, 3, 4
print(dict9)
dict9['1'] = 'Welcome'
print(dict9)
dict9[2] = {'Nested': {'1': 'Hello', '2': 'World'}}
print(dict9)

{}
{1: 'Hey', 'a': 26}
{1: 'Hey', 'a': 26, 'Value_set': (2, 3, 4)}
{1: 'Hey', 'a': 26, 'Value_set': (2, 3, 4), '1': 'Welcome'}
{1: 'Hey', 'a': 26, 'Value_set': (2, 3, 4), '1': 'Welcome', 2: {'Nested': {'1': 'Hello', '2': 'World'}}}

In [18]:
# Merging two dictionaries using update()
dict9.update(dict8)
print(dict9)
print(dict8)

{1: 'Hey', 'a': 26, 'Value_set': (2, 3, 4), '1': 'Welcome', 2: {'Nested': {'1': 'Hello', '2': 'World'}}, 'Nested Things': [{'one', 'name'}, {'two', 'name'}]}
{'Nested Things': [{'one', 'name'}, {'two', 'name'}]}

In [35]:
# Adding values to dictionary using two lists of the same length
list5 = [1,2,3,4,5]
list6 = ['Harry','Ram','Krisna','Sita','Arjun']
dict_students = dict(zip(list5,list6))
print(dict_students)
# Converting any list to dictionary
name_dict = dict(enumerate(list6))
print(name_dict)
# Adding values using merge | operator
dict_merge1 = dict_students | name_dict
print(dict_merge1)
dict_merge2 = name_dict|dict_students
print(dict_merge2)
name_dict1 = name_dict
# Using the in-place |= merge
name_dict1 |= dict_students #It is equal to name_dict|dict_students
print(name_dict1)

{1: 'Harry', 2: 'Ram', 3: 'Krisna', 4: 'Sita', 5: 'Arjun'}
{0: 'Harry', 1: 'Ram', 2: 'Krisna', 3: 'Sita', 4: 'Arjun'}
{1: 'Ram', 2: 'Krisna', 3: 'Sita', 4: 'Arjun', 5: 'Arjun', 0: 'Harry'}
{0: 'Harry', 1: 'Harry', 2: 'Ram', 3: 'Krisna', 4: 'Sita', 5: 'Arjun'}
{0: 'Harry', 1: 'Harry', 2: 'Ram', 3: 'Krisna', 4: 'Sita', 5: 'Arjun'}

In [24]:
# Accessing elements of a dictionary
print(dict9['Value_set'])
print(dict7.get(3))

(2, 3, 4)
['What']

In [25]:
# Accessing elements of a nested dictionary
print(dict9[1])
print(dict9[2]['Nested'])
print(dict9[2]['Nested']['1'])

Hey
{'1': 'Hello', '2': 'World'}
Hello

In [26]:
# Accessing elements using in operator
print("dict9 key-value are : ")
for i in dict9:
    print(i, dict9[i])

dict9 key-value are :
1 Hey
a 26
Value_set (2, 3, 4)
1 Welcome
2 {'Nested': {'1': 'Hello', '2': 'World'}}
Nested Things [{'one', 'name'}, {'two', 'name'}]

In [27]:
# Accessing elements using list comprehension
print([(k, dict9[k]) for k in dict9])

[(1, 'Hey'), ('a', 26), ('Value_set', (2, 3, 4)), ('1', 'Welcome'), (2, {'Nested': {'1': 'Hello', '2': 'World'}}), ('Nested Things', [{'one', 'name'}, {'two', 'name'}])]

In [28]:
# Accessing elements using dict.items()
for key, value in dict9.items():
    print(key, value)

1 Hey
a 26
Value_set (2, 3, 4)
1 Welcome
2 {'Nested': {'1': 'Hello', '2': 'World'}}
Nested Things [{'one', 'name'}, {'two', 'name'}]

In [29]:
# Accessing elements using enumerate()
for i in enumerate(dict9.items()):
    print(i)

(0, (1, 'Hey'))
(1, ('a', 26))
(2, ('Value_set', (2, 3, 4)))
(3, ('1', 'Welcome'))
(4, (2, {'Nested': {'1': 'Hello', '2': 'World'}}))
(5, ('Nested Things', [{'one', 'name'}, {'two', 'name'}]))

In [30]:
# Accessing elements using for loop and items() method
key_value_pairs = []
for key, value in dict9.items():
    key_value_pairs.append((key, value))
print(key_value_pairs)
for pair in key_value_pairs:
    print(pair)

[(1, 'Hey'), ('a', 26), ('Value_set', (2, 3, 4)), ('1', 'Welcome'), (2, {'Nested': {'1': 'Hello', '2': 'World'}}), ('Nested Things', [{'one', 'name'}, {'two', 'name'}])]
(1, 'Hey')
('a', 26)
('Value_set', (2, 3, 4))
('1', 'Welcome')
(2, {'Nested': {'1': 'Hello', '2': 'World'}})
('Nested Things', [{'one', 'name'}, {'two', 'name'}])

In [31]:
# Deleleting elements of a dictionary
del dict9[1]
print(dict9)

{'a': 26, 'Value_set': (2, 3, 4), '1': 'Welcome', 2: {'Nested': {'1': 'Hello', '2': 'World'}}, 'Nested Things': [{'one', 'name'}, {'two', 'name'}]}

In [36]:
# Dictionary Methods
dict8.clear()
print(dict8)
dict10 = dict9.copy()
print(dict10)
print(dict9.get(2))
print(name_dict.items())
print(name_dict.keys())
print(name_dict.values())
print(name_dict.pop(2))
print(name_dict.popitem())

{}
{'a': 26, 'Value_set': (2, 3, 4), '1': 'Welcome', 2: {'Nested': {'1': 'Hello', '2': 'World'}}, 'Nested Things': [{'one', 'name'}, {'two', 'name'}]}
{'Nested': {'1': 'Hello', '2': 'World'}}
dict_items([(0, 'Harry'), (1, 'Harry'), (2, 'Ram'), (3, 'Krisna'), (4, 'Sita'), (5, 'Arjun')])
dict_keys([0, 1, 2, 3, 4, 5])
dict_values(['Harry', 'Harry', 'Ram', 'Krisna', 'Sita', 'Arjun'])
Ram
(5, 'Arjun')