Dictionary

In [ ]:
# Creating a dictionary
# Method 1
dict1 = {}
dict2 = {1:'My',2:'Name',3:'is',4:'Prachi',5:'Singh'}
dict3 = {1:'I',2:'am',3:{'A':'From','B':'Patna'}}
print(dict1)
print(dict2)
print(dict3)

{}
{1: 'My', 2: 'Name', 3: 'is', 4: 'Prachi', 5: 'Singh'}
{1: 'I', 2: 'am', 3: {'A': 'From', 'B': 'Patna'}}
{1: 'Hey', 2: 'People'}
{1: 'I', 2: 'love', 3: 'India'}

In [ ]:
# Set Vs Dictionary
dict1 = {}
print(type(dict1))
x = set()
print(x)
print(type(x))

<class 'dict'>
set()
<class 'set'>

In [ ]:
# Method 2
# Using dict() on lists
list1 = [(1,'Hey'),(2,'People')]
dict4 = dict(list1)
dict5 = dict({1: 'I', 2: 'love', 3: 'India'})
print(dict4)
print(dict5)

{1: 'Hey', 2: 'People'}
{1: 'I', 2: 'love', 3: 'India'}

In [ ]:
# Method 3
# Appending values to an empty dictionary
dict6 = {}
dict7 = {}
list2 = [['a', 1], ['b', 2], ['a', 3], ['c', 4]]
list3 = [(1,'Hey'),(2,'People'),(3,'What'),(1,'You')]
def list_to_dict(d,l):
  for i in range(len(l)):
    if l[i][0] in d:
        d[l[i][0]].append(l[i][1])
    else:
      d[l[i][0]]= []
      d[l[i][0]].append(l[i][1])
  return d
print(list_to_dict(dict6,list2))
print(list_to_dict(dict7,list3))

{'a': [1, 3], 'b': [2], 'c': [4]}
{1: ['Hey', 'You'], 2: ['People'], 3: ['What']}

In [ ]:
# Adding another element to the dictionary, when already provided with key and value separately
# Key to be added
key_ref = 'More Nested key-value'
# Existing dictionary
dict8 = {
    'Nested Things': [{'name', 'one'}, {'name', 'two'}]
}
# list of values to be added
list4 = [{'name', 'three'}, {'name', 'four'}]
# try-except to take care of errors while adding values
try:
    dict8[key_ref].append(list4)
except KeyError:
    my_dict = {**dict8, **{key_ref: list4}}
print(dict8)

{'Nested Things': [{'one', 'name'}, {'two', 'name'}]}

In [ ]:
# Adding elements to a dictionary
dict9 = {}
print(dict9)
dict9[1] = 'Hey'
dict9['a'] = 26
print(dict9)
dict9['Value_set'] = 2, 3, 4
print(dict9)
dict9['1'] = 'Welcome'
print(dict9)
dict9[2] = {'Nested': {'1': 'Hello', '2': 'World'}}
print(dict9)

{}
{1: 'Hey', 'a': 26}
{1: 'Hey', 'a': 26, 'Value_set': (2, 3, 4)}
{1: 'Hey', 'a': 26, 'Value_set': (2, 3, 4), '1': 'Welcome'}
{1: 'Hey', 'a': 26, 'Value_set': (2, 3, 4), '1': 'Welcome', 2: {'Nested': {'1': 'Hello', '2': 'World'}}}

In [ ]:
# Merging two dictionaries using update()
dict9.update(dict8)
print(dict9)
print(dict8)

{1: 'Hey', 'a': 26, 'Value_set': (2, 3, 4), '1': 'Welcome', 2: {'Nested': {'1': 'Hello', '2': 'World'}}, 'Nested Things': [{'one', 'name'}, {'two', 'name'}]}
{'Nested Things': [{'one', 'name'}, {'two', 'name'}]}

In [ ]:
# Adding values to dictionary using two lists of the same length
list5 = [1,2,3,4,5]
list6 = ['Harry','Ram','Krisna','Sita','Arjun']
dict_students = dict(zip(list5,list6))
print(dict_students)
# Converting any list to dictionary
name_dict = dict(enumerate(list6))
print(name_dict)
# Adding values using merge | operator
dict_merge1 = dict_students | name_dict
print(dict_merge1)
dict_merge2 = name_dict|dict_students
print(dict_merge2)
name_dict1 = name_dict
# Using the in-place |= merge
name_dict1 |= dict_students #It is equal to name_dict|dict_students
print(name_dict1)

{1: 'Harry', 2: 'Ram', 3: 'Krisna', 4: 'Sita', 5: 'Arjun'}
{0: 'Harry', 1: 'Ram', 2: 'Krisna', 3: 'Sita', 4: 'Arjun'}
{1: 'Ram', 2: 'Krisna', 3: 'Sita', 4: 'Arjun', 5: 'Arjun', 0: 'Harry'}
{0: 'Harry', 1: 'Harry', 2: 'Ram', 3: 'Krisna', 4: 'Sita', 5: 'Arjun'}
{0: 'Harry', 1: 'Harry', 2: 'Ram', 3: 'Krisna', 4: 'Sita', 5: 'Arjun'}

In [ ]:
# Accessing elements of a dictionary
print(dict9['Value_set'])
print(dict7.get(3))

(2, 3, 4)
['What']

In [ ]:
# Accessing elements of a nested dictionary
print(dict9[1])
print(dict9[2]['Nested'])
print(dict9[2]['Nested']['1'])

Hey
{'1': 'Hello', '2': 'World'}
Hello

In [ ]:
# Accessing elements using in operator
print("dict9 key-value are : ")
for i in dict9:
    print(i, dict9[i])

dict9 key-value are :
1 Hey
a 26
Value_set (2, 3, 4)
1 Welcome
2 {'Nested': {'1': 'Hello', '2': 'World'}}
Nested Things [{'one', 'name'}, {'two', 'name'}]

In [ ]:
# Accessing elements using list comprehension
print([(k, dict9[k]) for k in dict9])

[(1, 'Hey'), ('a', 26), ('Value_set', (2, 3, 4)), ('1', 'Welcome'), (2, {'Nested': {'1': 'Hello', '2': 'World'}}), ('Nested Things', [{'one', 'name'}, {'two', 'name'}])]

In [ ]:
# Accessing elements using dict.items()
for key, value in dict9.items():
    print(key, value)

1 Hey
a 26
Value_set (2, 3, 4)
1 Welcome
2 {'Nested': {'1': 'Hello', '2': 'World'}}
Nested Things [{'one', 'name'}, {'two', 'name'}]

In [ ]:
# Accessing elements using enumerate()
for i in enumerate(dict9.items()):
    print(i)

(0, (1, 'Hey'))
(1, ('a', 26))
(2, ('Value_set', (2, 3, 4)))
(3, ('1', 'Welcome'))
(4, (2, {'Nested': {'1': 'Hello', '2': 'World'}}))
(5, ('Nested Things', [{'one', 'name'}, {'two', 'name'}]))

In [ ]:
# Accessing elements using for loop and items() method
key_value_pairs = []
for key, value in dict9.items():
    key_value_pairs.append((key, value))
print(key_value_pairs)
for pair in key_value_pairs:
    print(pair)

[(1, 'Hey'), ('a', 26), ('Value_set', (2, 3, 4)), ('1', 'Welcome'), (2, {'Nested': {'1': 'Hello', '2': 'World'}}), ('Nested Things', [{'one', 'name'}, {'two', 'name'}])]
(1, 'Hey')
('a', 26)
('Value_set', (2, 3, 4))
('1', 'Welcome')
(2, {'Nested': {'1': 'Hello', '2': 'World'}})
('Nested Things', [{'one', 'name'}, {'two', 'name'}])

In [ ]:
# Deleleting elements of a dictionary
del dict9[1]
print(dict9)

{'a': 26, 'Value_set': (2, 3, 4), '1': 'Welcome', 2: {'Nested': {'1': 'Hello', '2': 'World'}}, 'Nested Things': [{'one', 'name'}, {'two', 'name'}]}

In [ ]:
# Dictionary Methods
dict8.clear()
print(dict8)
dict10 = dict9.copy()
print(dict10)
print(dict9.get(2))
print(name_dict.items())
print(name_dict.keys())
print(name_dict.values())
print(name_dict.pop(2))
print(name_dict.popitem())

{}
{'a': 26, 'Value_set': (2, 3, 4), '1': 'Welcome', 2: {'Nested': {'1': 'Hello', '2': 'World'}}, 'Nested Things': [{'one', 'name'}, {'two', 'name'}]}
{'Nested': {'1': 'Hello', '2': 'World'}}
dict_items([(0, 'Harry'), (1, 'Harry'), (2, 'Ram'), (3, 'Krisna'), (4, 'Sita'), (5, 'Arjun')])
dict_keys([0, 1, 2, 3, 4, 5])
dict_values(['Harry', 'Harry', 'Ram', 'Krisna', 'Sita', 'Arjun'])
Ram
(5, 'Arjun')

Control Flow Statements

In [1]:
# If else statement
i = 23
if i>40:
  print("Lesser Value")
else:
  print("Actual is 23")

Actual is 23

In [6]:
def SumOfDigits(n):
  dsum=0
  for el in str(n):
    dsum += int(el)
  return dsum
list_num = [367, 111, 562, 945, 6726, 873]
# Applying the function on odd numbers inside the list
new_list = [SumOfDigits(i) for i in list_num if i%2 !=0]
print(new_list)

[16, 3, 18, 18]

In [5]:
print("20 & 1: (Even Number): ",20 & 1)
print("21 & 1: (Odd Number): ",21 & 1)

20 & 1: (Even Number):  0
21 & 1: (Even Number):  1

In [7]:
# For loop
# For loop in a list
for i in list_num:
  print(i)

367
111
562
945
6726
873

In [11]:
# For loop in dictionary
dict11 = {1:'I',2:'am',3:{'A':'From','B':'Patna'}}
for i in dict11:
    print("% d % s" % (i, dict11[i]))

 1 I
 2 am
 3 {'A': 'From', 'B': 'Patna'}

In [12]:
# For loop in string
sam_str = "Philadelphia"
for i in sam_str:
    print(i)

P
h
i
l
a
d
e
l
p
h
i
a

In [13]:
# For loop with a step size
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [14]:
# For loop inside another for loop
for i in range(1, 4):
    for j in range(1, 4):
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [15]:
# For loop with zip()
fruits = ["apples", "bananas", "cherries"]
colors = ["red", "yellow", "green"]
for fruit, color in zip(fruits, colors):
    print(fruit, "are", color)

apples are red
bananas are yellow
cherries are green

In [17]:
# For loop on tuples
tup_1 = (61, 27, 3, 47, 58, 66)
for a in tup_1:
    print(a)

61
27
3
47
58
66

In [18]:
# For loop on tuple of tuples
tup_2 = ((1, 2), (3, 4), (5, 6))
for a, b in tup_2:
    print(a, b)

1 2
3 4
5 6

In [20]:
# For loop with continue
# Prints all letters except 'e' and 's'
for letter in 'Life is fair':

    if letter == 'e' or letter == 's':
        continue
    print('Current Letter :', letter)

Current Letter : L
Current Letter : i
Current Letter : f
Current Letter :
Current Letter : i
Current Letter :
Current Letter : f
Current Letter : a
Current Letter : i
Current Letter : r

In [26]:
# For loop with break
for letter in 'Life is fair':
    if letter == 'e' or letter == 's':
        break
    print('Current Letter :', letter)
print('Letter : ',letter)

Current Letter : L
Current Letter : i
Current Letter : f
Letter :  e

In [27]:
# For loop with pass
for letter in 'Life':
    pass
print('Last Letter :', letter)

Last Letter : e

In [29]:
# While loop
count = 0
while (count < 3):
    count += 1
    print("Hello World!")

Hello World!
Hello World!
Hello World!

In [30]:
# While loop with list
while list_num:
    print(list_num.pop())

873
6726
945
562
111
367

In [31]:
# While loop with continue
# Prints all letters except 'e' and 's'
i = 0
a = 'Life is good'

while i < len(a):
    if a[i] == 'e' or a[i] == 'o':
        i += 1
        continue

    print('Current Letter :', a[i])
    i += 1

Current Letter : L
Current Letter : i
Current Letter : f
Current Letter :
Current Letter : i
Current Letter : s
Current Letter :
Current Letter : g
Current Letter : d

In [32]:
# While loop with break
# break the loop as soon it sees 'e'
# or 's'
i = 0
a = 'Life is good'

while i < len(a):
    if a[i] == 'e' or a[i] == 's':
        i += 1
        break

    print('Current Letter :', a[i])
    i += 1

Current Letter : L
Current Letter : i
Current Letter : f

In [34]:
# While loop with pass -  An empty loop
a = 'Life is good'
i = 0

while i < len(a):
    i += 1
    pass

print('Value of i :', i)

Value of i : 12

In [35]:
# While-else loop
i = 0
while i < 5:
    i += 1
    print(i)
else:  # Executed because no break in for
    print("No Break\n")

i = 0
while i < 5:
    i += 1
    print(i)
    break
else:  # Not executed as there is a break
    print("No Break")

1
2
3
4
5
No Break

1